<li class="nav-item dropdown">

    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-bell"></i>
        {% if notifications %}
            <span class="badge bg-primary badge-number">{{ notifications|length }}</span>
        {% endif %}
    </a>

    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
        {% if notifications %}
            {% for notification in notifications %}
                <a href="{% url 'group:group-detail' notification.group.id %}">
                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <p>
                                {{ notification.content }}
                            </p>
                        </div>
                    </li>
                </a>
            {% endfor %}
        {% else %}
            <li class="dropdown-header">
                Brak powiadomień
            </li>
        {% endif %}
    </ul>
</li>
