{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pja Diploma</title>
    <meta name="referrer" content="strict-origin"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/main.css' %}">
</head>
<body>
{#  =======  #}
{#  CONTENT  #}
{#  =======  #}
{% include 'base/header.html' %}
{% include 'base/sidebar.html' %}
<main id="main" class="main">
    <section class="section">
        {% block content %}
            {% endblock %}
    </section>
</main>

{#  =======  #}
{#  PAGE_END  #}
{#  =======  #}
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/vendor/tinymce/tinymce.js' %}"></script>
<script src="{% static 'assets/vendor/moment/moment.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script>
    function openModal(ev) {
      ev.preventDefault();

      console.log(ev.target.href);

      $.ajax({
          url: ev.target.href,
          type: "GET",
          data: {},
          async: true,
          success: function (result) {
              $('#baseModal').html(result);
          }
      });

      $('#baseModal').toggle();
    }

    function closeModal() {
        $('#baseModal').hide();
    }
</script>
<div id="baseModal" class="modal modal-backdrop" role="dialog"></div>
{% block footer %}
{% endblock %}
</body>
</html>