{% load static %}
<div class="card">
    <div class="card-header">
        <div>
            {% block header %}
            {% endblock %}
        </div>
    </div>
    <div class="card-body">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>