{% load static %}
{% load notifications %}
<header class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'index' %}" class="logo d-flex align-items-center">
            <img class="logo-img" src="{% static "base/img/Logo_PL_2.png" %}" alt="PJA Logo">
        </a>
        <i class="bi bi-list toggle-sidebar-btn">
        </i>
    </div>
    <nav class="header-nav ms-auto">
        {% if user.is_authenticated %}
            <ul class="d-flex align-items-center">
                {% notifications user %}
                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="{{ user.get_avatar_url }}" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.username }}</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" style="">
                        <li class="dropdown-header">
                            <h6>{{ user.first_name }} {{ user.last_name }}</h6>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'user-update' %}">
                                <i class="bi bi-person"></i>
                                <span>Profil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Wyloguj się</span>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        {% endif %}
    </nav>
</header>
