{% load static %}
{% load user_role_tags %}
<aside id="sidebar" class="sidebar">
    {% with request.resolver_match.url_name as app_name %}
        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'group:user-group-list' %}">
                    <i class="bi bi-people"></i>
                    <span>Moje Grupy</span>
                </a>
                {% if app_name in 'group-detail,group-update,private-group-site-detail,public-group-site-detail,group-site-update,group-members,create-attachment,group-integrations' %}
                    <ul class="nav-content collapse show">
                        {% if role != null %}
                            <a href="{% url 'group:group-detail' group.id %}">
                                <i class="bi bi-circle"></i>
                                <span>Grupa</span>
                            </a>
                            <a href="{% url 'group:public-group-site-detail' group.id %}">
                                <i class="bi bi-circle"></i>
                                <span>Strona Publiczna</span>
                            </a>
                            <a href="{% url 'group:private-group-site-detail' group.id %}">
                                <i class="bi bi-circle"></i>
                                <span>Strona Prywatna</span>
                            </a>
                            <a href="{% url 'attachment:create-attachment' group.id %}">
                                <i class="bi bi-circle"></i>
                                <span>Dodaj Dokument</span>
                            </a>
                            {% if role == 1 or role == 2 %}
                                <a href="{% url 'group:group-update' group.id %}">
                                    <i class="bi bi-circle"></i>
                                    <span>Ustawienia Grupy</span>
                                </a>
                            {% endif %}
                            <a href="{% url 'group:group-integrations' group.id %}">
                                <i class="bi bi-circle"></i>
                                <span>Integracje</span>
                            </a>
                        {% endif %}
                        {% if user.is_supervisor %}
                            <a href="{% url 'group:group-members' group.id %}">
                                <i class="bi bi-circle"></i>
                                <span>Zarządzaj Członkami</span>
                            </a>
                            <a href="{% url 'meet:new-meet' group.id %}" onclick="openModal(event)">
                                <i class="bi bi-circle"></i>
                                <span>Dodaj Spotkanie</span>
                            </a>

                        {% endif %}
                    </ul>
                {% endif %}
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'group:group-list' %}">
                    <i class="bi bi-grid"></i>
                    <span>Grupy</span>
                </a>
            </li>


            {% if user.is_supervisor %}
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'group:group-create' %}">
                        <i class="bi bi-plus-circle-fill"></i>
                        <span>STWÓRZ GRUPĘ</span>
                    </a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'announcement:announcement-list' %}">
                    <i class="bi bi-volume-up-fill"></i>
                    <span>OGŁOSZENIA</span>
                </a>
                {% if app_name in 'announcement-list,announcement-create' %}
                    {% if user.is_supervisor %}
                        <ul class="nav-content collapse show">
                            <a href="{% url 'announcement:announcement-create' %}">
                                <i class="bi bi-circle"></i>
                                <span>Dodaj ogłoszenie</span>
                            </a>
                        </ul>
                    {% endif %}
                {% endif %}
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'user:supervisor-list' %}">
                    <i class="bi bi-file-earmark-person"></i>
                    <span>Dydaktycy</span>
                </a>
            </li>

        </ul>
    {% endwith %}
</aside>