{% extends 'base/base.html' %}

{% block content %}
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dydaktycy</h5>
                {% for supervisor in supervisors %}
                    <div class="row col-12">
                        <div class="col-3">
                            <img class="img-thumbnail" src="{{ supervisor.get_avatar_url }}" alt="avatar">
                        </div>
                        <div class="col-9">
                            <h4>{{ supervisor.username }}</h4>
                            <p>{{ supervisor.description|safe }}</p>
                        </div>
                    </div>
                {% empty %}
                    <h3>Brak użytkowników</h3>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}