{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Edytuj Stronę
            </h5>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group pt-2 d-flex justify-content-end">
                    <button class="btn btn-success" type="submit">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {{ form.media }}
{% endblock footer %}


