{% extends 'base/base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
    {% if not user.is_supervisor %}
        {% if groups_to_accept %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Grupy do akceptacji</h5>
                    <div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    Tytuł
                                </th>
                                <th>
                                    Promotor
                                </th>
                                <th>
                                    Akcje
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group_to_accept in groups_to_accept %}
                                <tr>
                                    <td>
                                        {{ group_to_accept.title }}
                                    </td>
                                    <td>
                                        {{ group_to_accept.get_supervisor }}
                                    </td>
                                    <td>
                                        <a class="btn btn-success"
                                           href="{% url 'group:group-accept-membership' group_to_accept.id %}"
                                           role="button">Akceptuj</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Grupy</h5>
            {% if groups %}
                <form action="" method="get" class="form row mb-3">
                    {% for field in filter.form %}
                        <div class="col-md-3">
                            <div class="form-label">
                                {{ field.label_tag }}
                            </div>
                            <div class="form-field">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    {#                        {{ filter.form }}#}
                    <div class="col-md-3 d-flex align-items-end justify-content-start pt-2">
                        <input type="submit" class="btn btn-primary px-5" value="Filtruj"/>
                    </div>
                </form>
                {#                {% endif %}#}
                {% render_table table %}
                {% else %}
                <h2>Nie posiadasz grupy stwórz nową {% if user.is_supervisor %}<a class="btn btn-success" href="{% url 'group:group-create' %}">Stwórz grupę</a>{% endif %}</h2>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block footer %}

    {{ filter.form.media }}

{% endblock footer %}
