{% extends 'base/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title d-flex w-100 justify-content-between">
                {% if site.is_public %}
                    Strona Publiczna
                    {% if role %}
                        <a class="btn btn-success" href="{% url 'group:group-site-update' site.group_id 1 %}">Edytuj
                            Stronę</a>
                    {% endif %}
                {% else %}
                    Strona Prywatna
                    {% if role %}
                        <a class="btn btn-success" href="{% url 'group:group-site-update' site.group_id 0 %}">Edytuj
                            Stronę</a>
                    {% endif %}
                {% endif %}
            </h5>
            {% if site.content %}
                <div class="text-break">
                    {{ site.content|safe }}
                </div>
                {% else %}
                    <h3>Brak informacji o grupie</h3>
            {% endif %}
        </div>
    </div>
{% endblock content %}