{% extends 'base/base.html' %}
{% load post_tags %}
{% load group_attachments %}
{% load group_meets %}

{% block content %}
    <div class="pagetitle">
        <h1>{{ group.title }}</h1>
    </div>
    <div class="row align-items-top">


        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Informacje</h5>
                    <div class="row col-12">
                        {% if group.git_repository %}
                            <div class="col-md-2 label">Git</div>
                            <div class="col-md-10 text-break"><a href="{{ group.git_repository }}"
                                                              target="_blank">{{ group.git_repository }}</a></div>
                        {% endif %}
                        {% if group.project_management_board %}
                            <div class="col-md-2 label">Tablica</div>
                            <div class="col-md-10 text-break"><a href="{{ group.project_management_board }}"
                                                              target="_blank">{{ group.project_management_board }}</a>
                            </div>
                        {% endif %}
                        {% if group.informations %}
                            <div class="col-md-2 label">Opis</div>
                            <div class="col-md-10 text-break">
                                <p style="white-space: pre">{{ group.informations }}</p>
                            </div>
                        {% endif %}
                        {% if group.technologies.all %}
                            <div class="col-md-2 label">Technologie</div>
                            <div class="col-md-10 text-break">
                                {% for technology in group.technologies.all %}
                                    <span class="badge rounded-pill bg-primary">{{ technology.name }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Posty</h5>
                    {% post_form group.id user %}
                    <div class="list-group">
                        {% for post in posts %}
                            {% render_post post %}
                            {% empty %}
                            <h3>Brak postów</h3>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            {% render_group_meets group user %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Członkowie</h5>
                    <ul>
                        {% for member in members %}
                            <li>
                                {{ member.user }} - {{ member.get_role_display }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% render_attachments group %}
        </div>

    </div>
{% endblock content %}
