{% extends 'base/base.html' %}
{% load post_tags %}
{% load group_attachments %}
{% load group_meets %}

{% block content %}
    <div class="pagetitle">
        <h1>Integracje</h1>
    </div>
    <div class="row align-items-top">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bitbucket</h5>
                    <div class="row col-12">
                        <p>
                            Aby dodać integracje, należy wejść na Bitbucket, repozytorium,<br>
                            Następnie w <strong>Repository settings/Webhooks/Add Webhook</strong><br>
                            W triggers zaznaczamy <strong>Repository/Push</strong> (wszystkie inne odznaczamy)<br>
                            URL dla twojej grupy to: <strong>{{ request.get_host }}/git/bitbucket/{{ group.uuid }}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
