{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Członkowie grupy
                </h5>
                <div>
                    {% for member in group.get_members %}
                        <div class="row col-lg-6 col-md-12 mb-1">
                            <div class="col-4 d-flex align-items-center">
                                {{ member }}
                            </div>
                            <div class="row col-8">
                                {% if member != leader %}
                                    <div class="col-6">
                                        <a class="btn btn-success"
                                           href="{% url 'group:group-management' groupid=group.id userid=member.id action=1 %}">
                                            Lider
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a class="btn btn-danger"
                                           href="{% url 'group:group-management' groupid=group.id userid=member.id action=2 %}">
                                            Usuń
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="col-6">
                                        <a class="btn btn-success disabled">
                                            Lider
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a class="btn btn-danger disabled">
                                            Usuń
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <br/>
                        </div>
                    {% endfor %}
                </div>
                <hr />
                <h4 class="card-title pt-0">
                    Dodaj Studenta
                </h4>
                <form class="form form-inline row my-2" method="post"
                      action="{% url 'group:add-group-user' group.id %}">
                    {% csrf_token %}
                    <div class="col-6">
                        {{ add_user_form|crispy }}
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary" type="submit">Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    {{ add_user_form.media }}
{% endblock %}
