.nav-sidebar {
    background-color: #54657e;
}

.nav-sidebar a {
    color: aliceblue;
}

.sidebar-link {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.sidebar-link:hover {
    background-color: aliceblue;
    color: #54657e;
    text-decoration: none;
}

.sidebar-sublink {
    background-color: #7a8ba5;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.sidebar-sublink:hover {
    background-color: aliceblue;
    color: #54657e;
    text-decoration: none;
}

.sidebar-element {
    padding: 0px 0px;
}

.sidebar-footer {
    width: 100%;
    height: 80px;
    margin-top: 5px;
    background-color: #7a8ba5;
}

.background {
    background-color: #f2f3f8;
}

.card {
    background-color: white;
}

.card-header {
    border-bottom: 1px solid #ebedf2;
    background-color: white;
}

.form-field input {
    background-color: #fff;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
    height: 38px !important;
    width: 100%;
}

.select2-selection {
        padding: 0 !important;
    }

.select2-selection__choice {
    background-color: #7a8ba5 !important;
    color: aliceblue !important;
}

.select2-selection--single {
    padding: .25rem 0rem !important;
    border: 1px solid #ced4da !important;
    height: 38px !important;
}

.select2-selection__arrow {
    height: 100% !important;
}

.select2-selection__choice__remove {
    color: aliceblue !important;
}

.select2-selection--multiple {
    border: 1px solid #ced4da !important;
}

.select2-container {
    width: 100% !important;
    min-width: 100% !important;
}

.mini-photo {
    object-fit: contain;
    height: 100px;
}

.label {
    color: rgba(1, 41, 112, 0.6);
}

.logo-img {
    max-height: 36px !important;
}

.modal-backdrop {
    background-color: rgba(173, 181, 189, 0.45);
}
