{% load crispy_forms_tags %}
{% load static %}

<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nowe Spotkanie</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="closeModal()"></button>
        </div>
        <form method="post" action="{% url 'meet:new-meet' group_id=group_id %}">
            {% csrf_token %}
            <div class="modal-body">
                {{ form|crispy }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Zamknij
                </button>
                <button class="btn btn-success" type="submit">Zapisz</button>
            </div>
        </form>
    </div>
</div>

<div id="modal_scripts">
    {{ form.media }}
</div>

<script>
    setTimeout(() => {
      let media = `
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" type="text/css" media="all" rel="stylesheet">
            <link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></scr`+`ipt>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></scr`+`ipt>
            <script src="/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></scr`+`ipt>
        `
      console.log(media);
      $('#modal_scripts').html(media);
    }, 2000);
</script>
