<div class="card">
    <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">Kalendarz
            {% if user.is_supervisor %}
                <a class="btn btn-primary btn-sm" href="{% url 'meet:new-meet' group.id %}" onclick="openModal(event)">Nowe Spotkanie</a>
            {% endif %}</h5>
        {% if meets %}
            {% now 'd-m-Y' as today_date %}
            <div class="dashboard">
                <div class="activity">
                    {% for meet in meets %}
                        <div class="activity-item d-flex">
                            <div class="activite-label">
                                {{ meet.start_time|time:'G:i' }}
                                {% if meet.end_time %}
                                    - {{ meet.end_time|time:'G:i' }}
                                {% endif %}
                                <br/>
                                {% if meet.date|date:'d-m-Y' == today_date %}
                                    Dzisiaj
                                {% else %}
                                    {{ meet.date|date:'d/m/Y' }}
                                {% endif %}
                            </div>
                            <i class="bi bi-circle-fill activity-badge {% cycle 'text-primary' 'text-secondary' 'text-success' 'text-danger' 'text-warning' 'text-info' %} align-self-start">
                            </i>
                            <div class="activity-content text-break">
                                {{ meet.description }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            Brak wydarzeń
        {% endif %}
    </div>
</div>