<div class="list-group-item list-group-item-action">
    <div class="d-flex align-items-start">
        <div class="d-flex flex-row align-items-center">
            {% if integration %}
            <img class="rounded-circle mini-photo" src="{{ integration.avatar }}" alt="avatar">
            {% else %}
            <img class="rounded-circle mini-photo" src="{{ post.author.get_avatar_url }}" alt="avatar">
            {% endif %}
        </div>
        <div class="px-2 w-100">
            <div class="d-flex justify-content-between">
                {% if integration %}
                <h5 class="mb-1">{{ integration.username }}</h5>
                {% else %}
                <h5 class="mb-1">{{ post.author }}</h5>
                {% endif %}
                <small>{{ post.post_date|date:'Y-m-d H:i' }}</small>
            </div>
            <p class="text-break">{{ post.content|safe }}</p>
        </div>
    </div>
</div>