{% load crispy_forms_tags %}
<div class="align-items-center w-100 py-2">
    <form method="post" action="{% url 'post:create-post' pk=group_id %}">
        {% csrf_token %}
        <div class="w-100 px-2 align-items-center">
            <div class="d-flex flex-row w-100">
                <img class=" img-responsive rounded-circle" src="{{ user.get_avatar_url }}" width="50" height="50">
                <div class="w-100 px-2 d-flex align-items-center">
                    <div class="w-100">
                        {{ form|crispy }}
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Dodaj</button>
            </div>
        </div>
    </form>
</div>