<div class="card">
    <div class="card-body">
        <h5 class="card-title">Dokumenty</h5>
        {% if attachments %}
            <table class="table table-striped">
            {% for attachment in attachments %}
                <tr>
                    <td>{{ attachment }}</td>
                    <td class="d-flex justify-content-end"><a class="btn btn-success" href="{{ attachment.file.url }}" download>Pobierz</a></td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            Brak dodanych plików
        {% endif %}
    </div>
</div>