{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dodaj plik</h5>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group d-flex justify-content-end">
                        <button class="btn btn-success" type="submit">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}