{% extends 'base/card.html' %}
{% load crispy_forms_tags %}

{% block header %}
    Zaloguj się
{% endblock %}

{% block content %}
    {#    <a class="btn btn-secondary" href="{% url 'fakestudent' %}">Testowy Student</a>#}
    {#    <a class="btn btn-secondary" href="{% url 'fakesupervisor' %}">Testowy Wykładowca</a>#}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group pt-2 d-flex justify-content-end">
            <button class="btn btn-success" type="submit">Zaloguj</button>
        </div>
        {% if error_message %}
            <div class="text-danger">
                {{ error_message }}
            </div>
        {% endif %}
    </form>

    <hr class="divider"/>
    <div class="col-md-12 d-flex justify-content-center"><a
            class="btn btn-lg btn-google btn-block text-uppercase btn-outline-secondary"
            href="{% url 'social:begin' 'google-oauth2' %}">Zaloguj się używając Google</a></div>
    {% if social_error %}
        <div class="text-danger">
            {{ social_error }}
        </div>
    {% endif %}
{% endblock %}