{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom">Dodaj Technologię</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Zapisz</button>
            </div>
        </form>
    </div>
{% endblock content %}
