{% extends 'base/base.html' %}

{% block content %}
    <div class="content">
        <p>id: {{ technology.id }}</p>
        <p>name: {{ technology.name }}</p>
        <div>
            <h3>Grupy:</h3>
            <ul>
                {% for group in technology.GroupTechnology.all %}
                    <li>
                        <a href="{% url 'group:public-group-site-detail' pk=group.id %}">
                            {{ group.title }}
                        </a>
                    </li>
                {% empty %}
                    <h3>Brak grup</h3>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}