{% extends 'base/base.html' %}

{% block content %}
    <div class="content col-12">
        <div class="col-12">
            <h2>Technologie</h2>
            <a class="btn btn-success" href="{% url 'technology:technology-create' %}">Dodaj technologię</a>
            <hr class="col-12">
            {% for technology in technologies %}
                <a href="{% url 'technology:technology-detail' technology.id %}"><p>{{ technology.name }}</p></a>
            {% empty %}
                <h3>Nie ma projektów z taką technologią</h3>
            {% endfor %}
        </div>
    </div>
{% endblock content %}