{% extends 'base/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Ogłoszenia
            </h5>
            <div>
                <hr class="col-12">
                <div class="list-group">
                    {% for announcement in announcements %}
                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex align-items-start">
                                <div class="d-flex flex-row align-items-center">
                                    <img class="rounded-circle mini-photo" src="{{ announcement.user.get_avatar_url }}"
                                         alt="avatar">
                                </div>
                                <div class="px-2 w-100">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="mb-1">{{ announcement.user }}</h5>
                                        <small>{{ announcement.date|date:'Y-m-d H:i' }}</small>
                                    </div>
                                    <p class="text-break">{{ announcement.content|safe }}</p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <h3>Nie ma żadnych ogłoszeń</h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}